//side nav.
#masthead {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  position: fixed;
  right: 0;
  top:0;
  height: 100vh;
  width: 12em;
  background: darkgrey;
  text-align: center;
    z-index: 900;

    & #primary-menu > ul{

      @include breakpoint(xxlarge){
        @include flexbox();
        @include justify-content(space-between);
        @include flex-direction(column);
        @include align-items(center);
      };
      @include flexbox();
      @include justify-content(space-between);
      @include flex-direction(column);
      @include align-items(center);
        height: 50vh;
        & a {
          margin:2em;
          color: black;
        }
    }


}

#siten-avigation {

}


//Title header-title

.title-header{
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-direction(row);
  @include align-items(center);
  //background:none;
  width: 100%;
  position: fixed;
  height: 3em;
  top:40%;
  left:0;
  & a {
    color: black;
    margin:0 2% 0 2%;
  }
}
